.choose-image__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 106px;
}

.choose-image__block {
  position: relative;
  text-align: center;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  max-width: 450px;
  height: 531px;
}

.tour__img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: transform 300ms ease;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 50px;
  z-index: 1;
  pointer-events: none;
}

.tour__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 50px 50px 41px 50px;
  box-sizing: border-box;
  text-align: left;
  bottom: 0;
}

.choose-image__block:hover .tour__img {
  transform: scale(1.2);
  z-index: 0;
}

.choose-image__block:hover .detail__button {
  background-color: #286562;
  border-radius: 50px;
  transition: 0.3s;
}

.choose-image__block:active .detail__button {
  background-color: #efa501;
}

.tour__info h3 {
  color: white;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 18px;
  line-height: 122%;
}

.tour__details {
  width: 200px;
}

.tour__details p {
  font-size: 17px;
  font-weight: 400;
  color: white;
}

.detail__button {
  width: 200px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: none;
  color: white;
  font-size: 23px;
  font-weight: bold;
  border: none;
  margin: 0;
  margin-left: -20px;
}

.detail__button img {
  margin-left: 16px;
}

@media (max-width: 1024px) {
  .tour__info h3 {
    font-size: 35px;
  }

  .tour__details {
    width: auto;
  }

  .choose-image__blocks {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .choose-image__block {
    width: 44vw;
  }

  .choose-image__block:hover .detail__button:not(.active) {
    background-color: transparent;
    border-radius: 50px;
  }
}
@media (max-width: 768px) {
  .choose-image__blocks {
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
  }

  .choose-image__block {
    width: 318px;
    height: 318px;
  }

  .choose-image__block,
  .tour__img,
  .overlay {
    border-radius: 20px;
  }

  .tour__details {
    width: 268px;
  }

  .tour__details p {
    font-size: 16px;
  }

  .tour__info h3 {
    font-size: 23px;
    margin-bottom: 13px;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .tour__info {
    padding: 25px;
  }

  .detail__button {
    width: 157px;
    height: 42px;
    font-size: 16px;
    margin-left: -18px;
    margin-bottom: -8px;
    align-items: end;
  }
}
@media (max-width: 480px) {
}
@media (max-width: 360px) {
  .choose-image__blocks {
    margin-top: 52px;
  }
}
