.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../../images/intro/intro-img.jpg);
  background-position: center;
  background-size: cover;
}

.intro__info {
  text-align: center;
}

.intro h1 {
  font-weight: 700;
  font-size: 96px;
  color: white;
  line-height: 109%;
  letter-spacing: 2px;
}

.intro p {
  width: 50%;
  margin: 50px auto;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 142%;
}

.intro__button {
  padding: 5px 20px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.14px;
  text-decoration: none;
}

.intro__button:hover {
  background-color: #efa501;
  color: white;
  transition: 0.3s;
}

.intro__button:active {
  background-color: #f8e6be;
  color: black;
}

@media (max-width: 1024px) {
  .intro p {
    width: 44%;
  }
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 68px;
  }

  .intro p {
    font-size: 18px;
    width: 54%;
  }

  .intro__button:hover {
    background-color: white;
    color: black;
  }
}

@media (max-width: 480px) {
  .intro h1 {
    font-size: 48px;
  }

  .intro p {
    width: 74%;
    font-size: 17px;
  }
}
@media (max-width: 360px) {
  .intro h1 {
    width: 360px;
    margin-top: 84px;
    font-size: 34px;
    line-height: 38.08px;
    letter-spacing: 0.6px;
  }

  .intro p {
    margin: 40px 0 40px 0;
    font-size: 16px;
  }

  .intro__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__button {
    padding: 4.8px 20px;
    font-size: 16px;
  }
}
