.stories {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.stories__block {
  cursor: pointer;
  display: flex;
  position: relative;
  width: auto;
  max-width: 1170px;
  border-radius: 50px;
  height: 567px;
  overflow: hidden;
}

.stories__block-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.stories__about-tour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px;
  position: absolute;
  text-align: left;
  z-index: 2;
  height: calc(100% - 120px);
  width: calc(100% - 120px);
}

.stories__about-text {
  flex-shrink: 0;
}

.stories__about-header {
  font-size: 35px;
  font-weight: 500;
  color: white;
  line-height: 122%;
  margin-bottom: 37px;
}

.stories__about-tour p {
  font-size: 20px;
  line-height: 142%;
  color: white;
  max-width: 554px;
}

.stories__about-tour ul {
  margin-top: 28px;
}

.stories__about-tour li {
  color: white;
  margin-left: 30px;
  line-height: 1.4;
}

.stories__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -7px;
  align-items: center;
}

.stories__social-buttons a {
  color: white;
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.stories__social-buttons a:hover {
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.stories__social-buttons a:active {
  border-bottom: 1px solid #efa501;
  padding-bottom: 2px;
}

.stories__block:hover .tour__img {
  transform: scale(1.2);
}

.stories__block:hover .detail__button {
  background-color: #286562;
  border-radius: 50px;
  transition: 0.3s;
}

.stories__block:hover .detail__button:active {
  border-radius: 50px;
}

.stories__block:active .detail__button {
  background-color: #efa501;
}

.link__social:active {
  color: #efa501;
}

@media (max-width: 1024px) {
  .stories__block:hover .detail__button:not(.active) {
    background-color: transparent;
    border-radius: 50px;
  }

  .stories__social-buttons a {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .stories__about-tour li {
    font-size: 16px;
  }

  .stories__social-buttons {
    display: none;
  }
}
@media (max-width: 480px) {
  .stories__about-header {
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 27px;
  }

  .stories__about-tour p {
    font-size: 16px;
  }

  .stories__about-tour {
    margin: 45px;
  }

  .stories__block {
    border-radius: 20px;
  }
}
@media (max-width: 360px) {
  #section-header {
    margin-top: -2px;
  }

  .stories__about-tour {
    margin: 30px;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
  }

  .stories {
    gap: 20px;
  }

  .stories__block {
    border-radius: 20px;
    height: 455px;
  }

  .stories__about-header {
    font-size: 23px;
    font-weight: 700;
    line-height: 28.6px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    width: 150px;
  }

  .stories__about-tour li {
    line-height: 22.72px;
    margin-left: 30px;
  }

  .stories__about-tour ul {
    margin-top: 24px;
  }
}
