.reviews__list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviews__list:last-child {
  gap: 30px;
}

.reviews__item {
  width: 100%;
  height: 673px;
  background-color: #f4f0e9;
  border-radius: 50px;
  text-align: left;
}

.reviews__card {
  width: 86%;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 89%;
}

.reviews__card p {
  width: 100%;
  font-size: 23px;
  font-weight: 700;
  color: #1b1f2b;
  /* line-height: 28.06px; */
}

.reviews__text-first-part {
  margin-bottom: 4px;
}

.reviews__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__author h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 42.7px;
}

.reviews__author p {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #a6a6a6;
  margin-bottom: 5px;
}

.reviews__author-name {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__author-img img {
  width: 75px;
  height: auto;
  border-radius: 100%;
}

@media (max-width: 962px) {
  .reviews__card p {
    font-size: 20px;
  }

  .reviews__author h3 {
    font-size: 28px;
  }

  .reviews__author p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .reviews__item {
    width: 450px;
    height: 841px;
    display: flex;
  }

  .reviews__card {
    height: 91%;
  }

  .reviews__list:last-child {
    gap: 18px;
  }
}
@media (max-width: 768px) {
  .reviews__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__item {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .reviews__card {
    width: 100%;
    margin: 20px 20px 16px 20px;
  }

  .reviews__text {
    width: 100%;
  }

  .reviews__card p {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.1px;
  }

  .reviews__text-first-part {
    margin-bottom: -2px;
  }

  .reviews__author {
    align-items: flex-end;
    height: 115px;
    margin-top: 3px;
  }

  .reviews__author h3 {
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }

  .reviews__author p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.72px;
    letter-spacing: -1%;
    margin-bottom: 0px;
  }

  .reviews__author-name {
    justify-content: flex-end;
  }
}
@media (max-width: 480px) {
}

@media (max-width: 360px) {
  .reviews__text {
    width: 277px;
  }
}
