.intro {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    /* url(../../images/intro/intro-img.svg); */
      url(../../images/intro/intro-img.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 208px 0 400px;
  position: relative;
  max-width: 100%;
  height: 831px;
}

.intro h1 {
  font-weight: 700;
  font-size: 96px;
  color: white;
  line-height: 109%;
  letter-spacing: 2px;
  /* max-width: 768px; */
}

.intro p {
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 142%;
  /* width: 562px; */
  width: 50%;
  margin: 50px auto;
}

.intro__button {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -1%;
  line-height: 142%;
  text-decoration: none;
  cursor: pointer;
  padding: 4.5px 20px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
}

.intro__button:hover {
  background-color: #efa501;
  color: white;
  transition: 0.3s;
}

.intro__button:active {
  background-color: #f8e6be;
  color: black;
}

@media (max-width: 1024px) {
  .intro p {
    width: 44%;
  }
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 68px;
  }

  .intro p {
    font-size: 18px;
    width: 54%;
  }
}

@media (max-width: 480px) {
  .intro {
    height: 488px;
  }

  .intro h1 {
    font-size: 48px;
    /* width: 400px; */
  }

  .intro p {
    font-size: 17px;
    width: 74%;
    /* width: 390px; */
  }
}
@media (max-width: 360px) {
  .intro {
    height: 488px;
    padding: 57px 0 400px;
  }

  .intro h1 {
    font-size: 34px;
    width: 360px;
    line-height: 38.08px;
    letter-spacing: 1px;
    margin-top: 83px;
  }

  .intro p {
    font-size: 16px;
    /* width: 310px; */
    margin: 40px 0 40px 0;
  }

  .intro__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__button {
    font-size: 16px;
    padding: 5.5px 20px;
  }
}
