* {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #f9f7f4;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
