@import "./body/body.css";
@import "./header/header.css";
@import "./intro/intro.css";
@import "./chose-tour/choose-tour-title/chose-tour.css";
@import "./chose-tour/image-block/image-block.css";
@import "./section-title/title.css";
@import "./form/form.css";
@import "./reviews/reviews.css";
@import "./gallery/gallery.css";
@import "./stories/stories.css";
@import "./contact/contact.css";
@import "./footer/footer.css";

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .intro p {
    width: 442px;
  }

  .nav__list {
    width: 408px;
  }

  .section-header {
    width: 100%;
  }

  .tour__info h3 {
    font-size: 35px;
  }

  .tour__details {
    width: auto;
  }

  .choose-image__blocks {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .choose-image__block {
    width: 44vw;
  }

  .reviews__item {
    width: 450px;
    height: 841px;
    display: flex;
  }

  .reviews__card {
    height: 91%;
  }

  form {
    margin: 62px 60px 60px 60px;
  }

  .travel-images {
    margin-top: -2px;
  }

  .form__row {
    gap: 20px;
  }

  .form__checkbox-icon {
    margin-right: 11px;
  }

  .reviews__list:last-child {
    gap: 18px;
  }

  .travel-images {
    padding-right: 20px;
    padding-left: 20px;
  }

  #second-travel-picture,
  #seventh-travel-picture,
  #twelfth-travel-picture {
    display: none;
  }

  .travel-images__row,
  .travel-images__row--second {
    gap: 20px;
  }

  .travel-images__row img,
  .travel-images__row--second img {
    width: 316px;
    border-radius: 50px;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .choose-image__block:hover .detail__button:not(.active) {
    background-color: transparent;
    border-radius: 50px;
  }

  .stories__block:hover .detail__button:not(.active) {
    background-color: transparent;
    border-radius: 50px;
  }

  .stories__social-buttons a {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .block {
    margin-top: 74px;
  }

  .header__nav {
    display: none;
  }

  .intro h1 {
    font-size: 74px;
  }

  .intro p {
    font-size: 18px;
  }

  .choose-tour {
    margin-top: 75px;
  }

  .section-header__title,
  .choose-tour h2 {
    font-size: 48px;
    letter-spacing: 1px;
  }

  .block p {
    font-size: 16px;
  }

  .header__text_p {
    margin-bottom: 60px;
  }

  .choose-image__blocks {
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
  }

  .travel-images {
    margin-top: 0;
  }

  .choose-image__block,
  .tour__img,
  .overlay {
    border-radius: 20px;
  }

  .choose-image__block {
    width: 318px;
    height: 318px;
  }

  .tour__details {
    width: 268px;
  }

  .tour__details p {
    font-size: 16px;
  }

  .tour__info h3 {
    font-size: 23px;
    margin-bottom: 13px;
    line-height: 120%;
    letter-spacing: 1px;
  }

  .tour__info {
    padding: 25px;
  }

  .detail__button {
    width: 157px;
    height: 42px;
    font-size: 16px;
    margin-left: -18px;
    margin-bottom: -8px;
    align-items: end;
  }

  .stories__buttons button {
    margin-bottom: 0px;
  }

  .choose-tour h2 {
    font-size: 49px;
  }

  .choose-tour ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .choose-tour__nav-list {
    gap: 0px;
  }

  .choose-tour__nav a {
    font-size: 18px;
  }

  form {
    margin: 20px 20px 40px 20px;
  }

  .form {
    border-radius: 30px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  select {
    width: 100%;
    margin-bottom: 29px;
    height: 43px;
    padding: 10px;
  }

  .form__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  input::placeholder,
  select,
  input[type="date"] {
    font-size: 16px;
  }

  .form__label {
    margin-bottom: 8px;
  }

  textarea {
    height: 132px;
  }

  .form__fieldset {
    margin-bottom: 32px;
  }

  .form__fieldset legend {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .button__block {
    margin-top: 30px;
  }

  .form__radio {
    font-size: 16px;
  }

  .form__radio .form__radio-icon {
    width: 20px;
    height: 20px;
  }

  .form__block--checkbox a {
    font-size: 16px;
  }

  .form__block--checkbox {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .form__checkbox-text {
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0;
  }

  .button__block {
    display: flex;
    margin-top: 30px;
    text-align: left;
  }

  .button__block button {
    width: 134px;
    height: 47px;
    font-size: 16px;
  }

  .form__button--submit {
    margin-right: 10px;
  }

  .form__checkbox-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .form__block--checkbox label {
    align-items: start;
  }

  .form__radios {
    margin-top: 2px;
  }

  .reviews__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .reviews__item {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .reviews__card {
    width: 100%;
    margin: 20px;
  }

  .reviews__text {
    width: 100%;
  }

  .reviews__card p {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.84px;
  }

  .reviews__text-first-part {
    margin-bottom: 0;
  }

  .reviews__author {
    align-items: flex-end;
    height: 115px;
    margin-top: 4px;
  }

  .reviews__author h3 {
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: 1px;
    margin-bottom: 7px;
  }

  .reviews__author p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27.72px;
    letter-spacing: -1%;
    margin-bottom: 0px;
  }

  .reviews__author-name {
    justify-content: flex-end;
  }

  #third-travel-picture,
  #sixth-travel-picture,
  #eleventh-travel-picture {
    display: none;
  }

  .travel-images__row img,
  .travel-images__row--second img {
    height: 206px;
    border-radius: 20px;
  }

  .stories__about-tour li {
    font-size: 16px;
  }

  .stories__social-buttons {
    display: none;
  }

  .contact-section__image {
    width: 250px;
    height: auto;
    border-radius: 20px;
  }

  .contact-section__email-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .contact-section__title {
    font-size: 23px;
    font-weight: 700;
    line-height: 27.6px;
    letter-spacing: 1px;
    text-align: center;
  }

  .contact-section__text,
  .form__link {
    font-size: 16px;
    line-height: 22.72px;
    text-align: center;
    width: 100%;
  }

  .footer {
    width: 100%;
    height: 95px;
    padding: 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 21px 21.5px 21px 21.5px;
    margin-top: 0 !important;
  }

  .footer__socials {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7px;
  }

  .contact-section {
    flex-direction: column;
    gap: 28px;
  }

  .footer__container-text {
    font-size: 16px;
    text-align: center;
  }

  .footer__social-link {
    margin-right: 15px;
    font-size: 16px;
    align-items: center;
  }

  .footer__social-icon {
    margin-right: 4.5px;
    width: 100%;
  }

  .detail__button {
    align-items: center;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }

  .header__logo a {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.6px;
  }

  .intro {
    height: 488px;
  }

  .intro h1 {
    font-size: 48px;
    width: 400px;
  }

  .intro p {
    font-size: 18px;
    width: 390px;
  }

  .choose-tour__nav {
    margin-top: 24px;
  }

  .choose-tour__nav a {
    font-size: 16px;
  }

  .section-header__title,
  .choose-tour h2 {
    font-size: 38px;
    letter-spacing: 1px;
  }

  .header__text_p {
    margin-bottom: 40px;
  }

  .travel-images__row,
  .travel-images__row--second {
    gap: 10px;
    width: 100%;
  }

  .travel-images__row img,
  .travel-images__row--second img {
    height: 158px;
    border-radius: 20px;
  }

  .travel-images__row--second {
    margin: 12px 0 12px;
  }

  .stories__about-tour {
    margin: 45px;
  }

  .stories__block {
    border-radius: 20px;
  }
}

@media (max-width: 360px) {
  .container {
    width: 90%;
    padding: 0;
  }

  .header__block {
    margin-top: 26px !important;
  }

  .header.fixed {
    padding-bottom: 33px;
  }

  .choose-tour ul {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 4px;
  }

  .header {
    padding-top: 0;
  }

  .header___phone a {
    font-size: 16px;
  }

  .intro {
    height: 488px;
    padding: 57px 0 400px;
  }

  .intro h1 {
    font-size: 34px;
    width: 360px;
    line-height: 38.08px;
    letter-spacing: 1px;
    margin-top: 83px;
  }

  .intro p {
    font-size: 16px;
    width: 310px;
    margin: 40px 0 39px 0;
  }

  .intro__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__button {
    font-size: 16px;
  }

  .choose-tour {
    margin-top: 76px;
    margin-bottom: 75px;
  }

  .choose-tour h2 {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 2%;
  }

  .section-header__title {
    font-size: 34px;
    font-weight: bold;
    line-height: 112%;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
  }

  .form__block--checkbox p {
    width: 80% !important;
    font-size: 16px;
  }

  input::placeholder,
  select,
  input[type="date"] {
    font-size: 16px;
  }

  .reviews__text {
    width: 277px;
  }

  .header__text_img p {
    margin-bottom: 49px;
  }

  .travel-images__row {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .travel-images__row--second {
    grid-template-columns: repeat(auto-fit, minmax(99px, 1fr));
  }

  .travel-images__row img,
  .travel-images__row--second img {
    height: 110px;
  }

  .choose-image__blocks {
    margin-top: 52px;
  }

  .stories__about-tour {
    margin: 30px;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
  }

  .stories {
    gap: 20px;
  }

  .stories__block {
    border-radius: 20px;
    height: 455px;
  }

  .stories__about-header {
    font-size: 23px;
    font-weight: 700;
    line-height: 28.6px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    width: 150px;
  }

  .stories__about-tour li {
    line-height: 22.72px;
    margin-left: 30px;
  }

  .stories__about-tour ul {
    margin-top: 24px;
  }

  .contact-section__image {
    width: 130px;
    height: 133px;
  }

  .contact-section__text,
  .form__link {
    width: 291px;
  }

  .footer {
    margin-top: 75px !important;
  }
}
